* {
    text-align: center;
    font-family: Georgia
}

.projectCard {
    border-style: solid;
    border-color: black;
}

.projectCardText {
    text-decoration: none;
    text-align: center;
    color: black;
    width: 20%;
    padding: 5%
}

.projectCardWrapper {
    display: flex;
    flex-wrap: wrap
}